@import '../_vars';

#ask-us{
    font-size: $fontsize;
    display:block;
    position:relative;
    z-index:999;
    background-color:#f7f6d9;
    border-right:0;
    margin:4*$space auto 3*$space;
    padding:$space 2*$space $space $space;
    box-sizing:border-box;
    & input,& textarea{
        margin:.5rem 0
    }
}
.contactor{
    margin:auto auto;
    text-align:center;
    white-space:nowrap;
}
#ask-us-submit{
    display:block;
    max-width:max-content;
}
#ask-us-close{
    margin:0 .5rem;
}
#cerere,#nume,#posta{
    font-weight:400;
}
