@import '../_vars';

#ask-us{
    display:block;
    font-size:$fontsize;
    position:relative;
    z-index:999;
    background-color:$background_offer_color;
    border-right:0;
    margin:2*$space auto;
    padding:$space;
    box-sizing:border-box;
    & input,& textarea{
        margin:$space 0;
    }
}
.contactor{
    margin:auto auto;
    text-align:center;
    white-space:nowrap;
}
#ask-us-submit{
    display:block;
    max-width:max-content;
    font-size:$fontbigger;
}
#ask-us-close{
    margin:$space;
}
#cerere,#nume,#posta{
    font-weight:400;
}
