#ask-us{
    display:block;
    position:relative;
    z-index:999;
    background-color:#f7f6d9;
    border-right:0;
    margin:.5rem auto 1.5rem;
    padding:.5rem 1rem .5rem .5rem;
    box-sizing:border-box;
    & input,& textarea{
        margin:.5rem 0
    }
}
.contactor{
    margin:auto auto;
    text-align:center;
    white-space:nowrap;
}
#ask-us-submit{
    display:block;
    max-width:max-content;
}
#ask-us-close{
    margin:0 .5rem;
}
#cerere,#nume,#posta{
    font-weight:400;
}
