%h16 {
    text-transform:lowercase;
    text-align:left;
    margin-top:$ratio*$space;
    padding:$ratio*$space;
    @include transition(background-color);
    color:$main_color;
    &:first-letter {
        text-transform:uppercase
    }
    &:hover {
        background-color:$background_main_color
    }
}
@for $index from 1 through 6 {
    h#{$index} {
        @extend %h16;
    }
}
@for $index from 6 through 1 {
    h#{$index} {
        font-size: (round(pow($ratio/3, $index)*1000)/1000)+1rem;
    }
}
