// sizes
$space: 0.5rem;
$time: 0.5s;
$ratio: 1.618;
// font
$fontsize:1rem;
$fontfactor:$fontsize/2;
$fontsmall:($fontsize - $fontfactor)+($fontfactor/$ratio);
$fontsize:$fontsize;
$fontbig:$fontsize*$ratio;
// colors
$main_color: #2c6202;
$accent_color:#b80085;

$text_color: #000;

$background_base_color: #fffee4;
$background_main_color: #f4fadc;

$background_accent_color: #fff7e7;
$background_offer_color: #ffecac;

$hover_color: #fd8e00;
