@import '_vars';
@import '_behaviours';
@import '_reset';
@import 'component/_breadcrumbs';
@import 'component/expandable';

@charset"utf-8";
div{
    position:relative
}
body{
    line-height:lineheigh($fontsize);
    background-color:$background_base_color;
    color:$text_color;
    font-family:Roboto,sans-serif;
    font-size:$fontsize
}
@import '_h16';
p{
    padding:$space;
}
p img{
    float:left;
    margin: $space;
    padding:0;
}
a:focus,a:hover,div.important.really a:hover{
    color:$hover_color;
}
a{
    position:relative;
    text-decoration:none;
    color:$main_color;
    @include transition();
}
ul{
    list-style-type:none;
}
ol{
    list-style-type:decimal;
    list-style-position:inside;
}
dl{
    margin:0 $space;
}
dd{
    padding-left: $space;
    padding-bottom: $space;
}
tfoot{
    font-style:italic;
}
caption{
    background:#627f38;
    color:#fff
}
caption:hover{
    background:$hover_color;
    cursor:pointer;
}
p.fereastra:before{
    font-family:FontAwesome;
    content:"\f071";
    padding:0 $space;
    font-size: $fontsize;
    width: $fontsize;
    color: $main_color;
}
#pos{
    max-width:1024px;
    width:100%;
    margin:auto;
}
#header{
    width:100%;
    margin:auto;
    background-color:#fff;
}
#logo img{
    background:#50812b;
    @include transition($property: background-color);
}
#logo img:hover{
    background:$hover_color;
}
#menu{
    position:relative;
    margin:0 auto auto;
    height:auto;
    max-width:980px;
    top:0;
    white-space:nowrap;
}
#menu li{
    padding:0;
}
#menu h2{
    display:inline;
    font-size: $fontsize;
}
#menu a{
    padding:0;
    text-transform:uppercase;
    text-align: center;
    text-decoration:none;
}
#menu a:hover{
    color:$hover_color;
}
#page{
    width:auto;
    margin:0;
}
li a{
    text-transform:capitalize;
}
ul.futer li a{
    @include transition($property:color);
}
ul.futer li a:hover,ul.futer a:hover{
    text-decoration:none;
}
ul.futer li{
    margin:0;
    list-style:none;
    padding:.25rem 0rem;
    font-size:1rem;
    line-height:1.5rem;
    font-weight:400;
    color:#1f5705;
    @include transition($property:background-color);
    text-transform:capitalize;
}
ul.futer li:before{
    font-size:auto;
}
ul.futer li:hover{
    background-color:$background_accent_color;
    color:$hover_color;
}
ul.futer li.parent{
    font-size:1.2rem;
    line-height:2rem
}
ul.futer li.parent a{
    margin-left:0;
    display:inline-block;
    width:100%
}
ul.futer li.parent a::before{
    visibility:hidden
}
ul.futer li a{
    margin-left:.5em;
    display:block
}
ul.futer.subpages li,ul.futer.subpages li a{
    color:$accent_color
}
ul.futer.subpages li:hover,ul.futer.subpages li a:hover{
    color:$hover_color
}
#content{
    min-width:300px
}
#footer{
    float:left;
    background-color:#fffee0;
    font-size:.8rem;
}
table{
    margin-bottom:1rem;
    clear:both;
}
tr>td:nth-child(1),td{
    border-bottom:.25rem solid $background_main_color
}
td,th{
    padding:.25rem;
    vertical-align:top;
    text-align:right;
    width:33%
}
td.th,th{
    font-weight:200;
    color:#50812b;
    border-bottom:.25rem solid #50812b;
    cursor:pointer
}
th a{
    display:block;
    text-decoration:none
}
th a:hover{
    background-color:orange;
    color:#333;
    text-decoration:none
}
div.error-message,div.message,p.error,ul.error{
    color:red;
    font-weight:700
}
div.error-message{
    clear:both
}
div.error em{
    font-size:1.25em;
    color:#003d4c
}
p.notice,span.notice{
    background-color:$hover_color;
    color:#fff;
    display:block;
    padding:.5em
}
img.clip{
    background-color:#fff;
    padding:0
}
img.poza{
    margin-top:0;
    padding:0;
    text-align:center;
    border:10px solid #eee
}
img.poza:hover{
    border:10px solid $hover_color
}
img.center,img.zoom{
    max-width:100%;
    height:auto;
    display:block;
    margin:1rem auto
}
form div.form_error{
    background-color:#ff0;
    border:1px solid red;
    font-weight:700
}
ul.enumerare li{
    font-weight:700
}
div#fieldsets a{
    padding:.5rem;
    display:inline
}
#scule li{
    display:block;
    min-width:200px;
    float:left;
    padding:0 .5em;
    margin:0 .5em .5em;
    font-weight:700
}
#scule li p{
    display:block;
    clear:left;
    float:left;
    white-space:normal;
    text-indent: 0.5rem;
    font-weight:400
}
ul.topnav{
    margin:0 auto;
    position:relative;
    text-align:center;
    width:100%;
    z-index:999;
    border-bottom:1px solid $main_color
}
ul.topnav li{
    padding:0 .25rem;
    text-align:center;
    display:inline-block;
    vertical-align:bottom
}
ul.topnav img{
    float:left
}
.social-icons{
    float:right;
    top:0;
    width:auto
}
.social-icons a{
    padding-right:1rem;
    color:initial;
    text-decoration:none
}
.social-icons a:hover{
    color:$hover_color
}
.youtube-playlist{
    margin-top:1em
}
.youtube-playlist h2{
    margin:.5em
}
.youtube-playlist h3{
    margin-top:1em
}
.youtube-playlist p{
    line-height:1.5;
    margin:.5em 0 1em
}
.spacer{
    float:left;
    max-width:14rem;
    margin-right:0;
    margin-bottom:0;
}
#back-top{
    position:fixed;
    right:5%;
    bottom:10%;
    font-size:3em;
    opacity:.8;
    z-index:1000
}
#back-top:hover{
    cursor:pointer;
    opacity:1
}
#back-top:hover::before{
    visibility:hidden
}
ul.respect-others{
    overflow:hidden;
    margin-left:0;
    padding-left:2.14285714em;
    width:auto
}
table.lista-preturi-print{
    width:100%;
    font-size:1.2rem
}
div.really.important .btn {
    &:after {
        background:$accent_color;
    }
    &:hover {
        &:after {
            background:$hover_color;
        }
    }
}
.btn{
    font-family:Roboto,FontAwesome;
    padding:0rem $space;
    @include transition($property:(background-color, color));
    text-decoration:none;
    display:inline-block;
    &:after{
        content:'';
        display:block;
        width:100%;
        height:1px;
        background:$main_color;
        @include transition($property:(width, margin-left, background));
    }
    &:hover{
        cursor:pointer;
        text-decoration:none;
        &:after{
            margin-left:50%;
            background:$hover_color;
            width:0;
        }
    }
}
.flex-container{
    display:-webkit-flex;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow:row wrap;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap;
    -webkit-box-flex:1;
    -webkit-flex:1 0 0;
    -ms-flex:1 0 0;
    flex:1 0 0;
    clear:both
}
.flex-item{
    -webkit-flex:1 auto;
    -webkit-box-flex:1;
    -ms-flex:1 0 0;
    flex:1 0 0
}
#scule li div.caroussel-thumb{
    display:block;
    margin:.5em auto;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    box-shadow:1px 1px 2px 0 rgba(50,50,50,.5)
}
#scule li div.caroussel-thumb:hover{
    -webkit-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05)
}
#scule li a.title{
    display:block
}
.show-h1{
    max-width:980px;
    margin:auto;
    padding:1em 0
}
.show-h1 h2{
    font-size:1.5em
}
footer{
    clear:both;
    width:100%
}
ul.general-info{
    margin:0;
    margin-left:$space;
    background:$background_accent_color;
}
ul.general-info a{
    font-weight:400;
}
ul.jumpers{
    display:flex;
    flex-flow:row wrap;
    margin:0 0 0 -1*$space;
}
ul.jumpers li{
    margin-left:.5rem
}
ul.jumpers li:before{
    width:1rem;
    color:$accent_color;
    content:"■";
    display:inline-block;
    vertical-align:text-bottom;
    margin-left:.5rem;
    line-height:1.25rem;
    font-size:.5rem
}
ul.jumpers li:hover::before,ul.jumpers li:hover a{
    color:$hover_color
}
figcaption{
    color:#444;
    font-weight:400;
    text-align:center
}
.videoWrapper{
    position:relative;
    padding-bottom:1em;
    padding-top:1em;
    height:auto
}
.videoWrapper iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
div.important{
    background-color:$background_main_color;
    padding:$space;
    display:flex;
    justify-content:space-between;
    margin:$space 0;
}
div.important.really h2,div.important.really h3{
    color:$accent_color;
}
div.important.really{
    background-color:$background_accent_color;
}
div.important.really ul a{
    color:$accent_color;
    text-transform:none;
    text-decoration:none;
    font-weight:500;
}
div.important.really a{
    color:$accent_color
}
div.important.really ul a:hover{
    color:$hover_color
}
div.important:after{
    font-family:FontAwesome;
    font-size:2em;
    content:"\f05a";
    color:$main_color;
    display:block
}
div.important.really:after{
    color:$accent_color
}
i.fa{
    display:inline-block;
    width:1rem;
    margin-right:.5rem;
    height:auto
}
@media(max-width:540px){
    div#menu ul#scule li{
        max-width:350px
    }
    div.spacer{
        width:100%;
    }
    .flex-container,.flex-item{
        display:block
    }
    .flex-container{
        -moz-box-sizing:border-box;
        box-sizing:border-box
    }
    #content{
        min-width:none;
        width:100%
    }
    ul.futer li{
        font-size:1.2em;
        line-height:1.5em
    }
    .social-icons{
        display:none
    }
    caption{
        padding-left:0
    }
    div.important{
        display:block
    }
    div.important:after{
        display:none
    }
    figure{
        margin:0
    }
    ul.futer li.only-mobile{display:list-item;}

}
#navigationPoint{
    margin-top:.5rem;
    margin-left: .5rem
}
lite-youtube{
    margin:auto
}
@import '_inputs';
@import './component/_form-waskus.scss'    
