.tab-header {
  margin-top: 1.618rem;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid #2c6202; }

.tab-header button {
  float: left;
  width: auto;
  border: none;
  display: block;
  font-size: 1rem;
  background: none;
  color: #2c6202;
  padding: 0.5em; }

.tab-header button:not([class~=tab-active]):hover {
  color: #fd8e00;
  background: #f4fadc;
  cursor: pointer; }

.tab-part {
  border-radius: 5px;
  margin-bottom: 1rem; }

.tab-part h2, .tab-part h3, .tab-part h4 {
  margin-top: 0; }

button.tab-active {
  background: #2c6202;
  color: #f4fadc; }
